@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body{
    transition :0.5s;
    }

.nav-container {
    width: 260px;
    height: 780px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 20px; /* 상단 패딩 추가 */
    position: fixed;
    z-index:1; 
    overflow-x: hidden;
	transition :0.5s;
}

.nav-container a{
	color: #313131;
	text-decoration: none;
	font-size: 25px;
	display: block;
	padding: 8px 8px 8px 32px;
	
	transition :0.3s;
}

.nav-container a:hover{
    color: #f1f1f1;
}

.nav-container span {
    top: 0;
    left: 0;
    padding-left: 15px;
    font-size: 20px;
    cursor: pointer;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    margin-left: 20px;
}

.menu span {
    font-size: 14px;
}

.menu-link {
    display: inline-flex;
    align-items: center; /* 세로 중앙 정렬 */
    cursor: pointer;
    text-decoration: none;
    color: black; /* 메뉴 텍스트 색상 설정 */
    
}

.menu-icon {
    font-size: 50px; /* 아이콘 크기 설정 */
    margin-left: 5px; 
    display: block;
    height: auto;
}

.menu-text {
    font-size: 10px; /* 텍스트 크기 설정 */
}

.dropmenu {
    display: none;
    width: 200px;
    background: #eee;
    box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0; 
    gap: 10px;
}

.dropmenu.select {
    display: flex;
    flex-direction: column;
}



.dropmenu-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.dropmenu-btn .bullet {
    margin-right: 5px;
}

.btn {
    display: inline-block;
    vertical-align: middle;
}

.dropmenu-btn {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px; /* ▪와 글자 사이 간격 */
    
}

.nav-container .nav.closed {
    display: none;
}

.nav-container .nav.opened {
    display: block;
} 

.nav.opened {
    display: block;
}


